canvas {
    width: 100%;
    height: 100%;
    background: #ECE9E6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body,
html {
    height: 100%;
    margin: 0;
}

header {
    width: 100%;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    top: 40%;

}
h1{
    font-family: "Montserrat";
    color: #232323;
    font-weight: 700;
    opacity: .2;
    display: inline-block;
}